h1, h2, h3, .navbar, button {
    font-family: 'Jura', sans-serif;
}
.modal-dialog {
    padding-top: 15%;
}

.field .cards {
    clear: both;
}
.field img {
    display: block;
    float: left;
    margin: 15px 15px;
    width: 116px;
    border: 2px solid transparent;
}
.field img.highlight {
    border-color: black;
}
.field img.selected {
    border-color: yellow;
}
.field img:hover {
    border-color: red;
}
.field .turn {
    text-align: center;
    font-family: 'Jura', sans-serif;
    font-size: 30px;
}