h1, h2, h3, .navbar, button {
    font-family: 'Jura', sans-serif;
}
.modal-dialog {
    margin-top: 15%;
}

.field {
    .cards {
        clear: both;
    }

    img {
        display: block;
        float: left;
        margin: 15px 15px;
        width: 116px;
        border: 2px solid transparent;

        &.highlight {
            border-color: black;
        }

        &.selected {
            border-color: yellow;
        }

        &:hover {
            border-color: red;
        }
    }

    .modal-body {
        text-align: center;
        font-family: 'Jura', sans-serif;
        font-size: 30px;

        &.good {
            color: green;
        }

        &.bad {
            color: red;
        }
    }
}