@import "_variables.less";
@import "_mixins.less";

h1, h2, h3, .navbar, button {
    .font;
}
.modal-dialog {
    margin-top: 15%;

    .modal-content {
        background-color: #DF691A;
    }
}

.well {
    clear: both;
    margin: 0px;
}

.field {

    img {
        display: block;
        float: left;
        border: 4px solid transparent;

        &.highlight {
            border-color: @color-tip;
        }

        &.selected {
            border-color: @color-selected;
        }

        &:hover {
            border-color: @color-hover;
        }
    }

    .modal-body {
        text-align: center;
        .font;
        font-size: 30px;

        &.good {
            color: @color-good;
        }

        &.bad {
            color: @color-wrong;
        }
    }
}

.field {
    img {
        margin: 2.5% 2.5%;
        width: 20%;
    }
}
@media (min-width: 768px) {
    .field {
        img {
            margin: 1% 1%;
            width: 14.5%;
        }
    }
}
@media (min-width: 992px) {
     .field {
         img {
             margin: 15px 1%;
             width: 10.5%;
         }
     }
}