@main("SetGame") {


    <div class="well">
      <h2>Welcome to SetGame!!!</h2>
        %nWell ist not that hard to play ;)
        %nIf you found a set please write : set PlayerOne (or PlayerTwo) and the number of the fields 1 2 3 (0-11)
        %nif you need a tipp plese write h%nif you want to know the solution please write s
        %nIf you want to know the game point please write GetPoints
        %nif you want to solve the set with out knowing just write solve%nSet size of the field 3-80 size number%nFor a newGame please write nw
        %nHave fun!!!
        if you want to finish the game please write exit"
    </div>

}
