@(controller: de.htwg.se.setgame.controller.IController, field: java.util.List[Integer])

@main("SetGame", controller) {

    <div class="js-field field">
        <h2 style="text-align: center">Press button, when you have found a Set</h2>
        <button data-key="32" data-player="1" data-name="Player 1" type="button"
                class="btn btn-primary btn-lg col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <b>Player 1:</b> Press "Space bar"
        </button>
        <button data-key="13" data-player="2" data-name="Player 2" type="button"
                class="btn btn-primary btn-lg col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <b>Player 2:</b> Press "Enter"
        </button>

        <div class="well cards clearfix" ng-controller="CardCtrl">
            <div ng-repeat="card in cards">
                <img data-field="cards" data-field="{{card}}" src="/assets/pack/{{card}}.gif" />
            </div>
        </div>

        <div class="modal fade js-turn col-xs-12 col-sm-12 col-md-12 col-lg-12" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body turn"><b class="js-name">Player 1</b> it is your turn!</div>
                </div>
            </div>
        </div>
    </div>
}
