@(title: String, controller: de.htwg.se.setgame.controller.IController)(content: Html)

<!DOCTYPE html>
<html>
<head>
    <title>@title</title>
    <link rel='shortcut icon' type='image/png' href='@routes.Assets.at("images/favicon.png")'>
    <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))'>
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
    <style>
    body {
        margin-top: 50px;
    }
    .navbar .nav .text {
        padding: 10px 15px;
        color: #777;
        text-decoration: none;
        text-shadow: 0px 1px 0px #FFF;
    }

    .field img {
        display: block;
        float: left;
        margin: 15px 15px;
        width: 116px;
        border: 2px solid transparent;
    }
    .field img.highlight {
        border-color: black;
    }
    .field img:hover {
        border-color: red;
    }
    </style>
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a id="titleLink" class="brand" href="/">@title</a>

                <ul class="nav pull-right">
                    <li class="divider-vertical"></li>
                    <li class="text"><b>PlayerOne:</b> @controller.getPlayerOnePoints()</li>
                    <li class="divider-vertical"></li>
                    <li class="text"><b>PlayerTwo:</b> @controller.getPlayerTwoPoints()</li>
                    <li class="divider-vertical"></li>
                    <li class="text"><b>Left Cards:</b> @controller.getCardinGame().size()</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        @content
    </div>
</body>
</html>
